body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Flex', sans-serif;
    overflow-x: hidden;
}

.whole {
    width: 80vw;
    margin: 12px auto;
}

.form-header {
    font-size: 20px;
    color: #822e27;
    margin: 120px 8px 24px 8px;
}

.akh-img {
    background: linear-gradient(#6c9ce300, #6c96e31a), url('../assets/explorePic.png');
    text-align: center;
    padding: 4px 8px;
    border-top: 8px solid #822e27;
    margin: 0px 8px;
}

.akh-form {
    border-bottom: 8px solid #822e27;
    display: flex; 
    border-left: 8px solid #822e27;
    border-right: 8px solid #822e27;
    padding: 72px 0px 42px 0px;
}

#registration-form {
    margin: auto;
    font-family: 'Roboto Flex', sans-serif;
    width: 75%;
}

/* Style form group */
.form-group {
  margin-bottom: 32px;
  color: #822e27;
  width: 100%;
}

/* Style labels */
label {
  display: block;
  font-weight: bold;
}

/* Style text inputs and textareas */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="time"],
textarea,
select {
  width: 100%;
  margin-top: 16px;
  padding: 10px;
  border: 1px solid #822e27;
  color: #822e27;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder {
    color: #822e27;
}

button {
    float: right;
    padding: 8px 32px;
    margin-right: -20px;
    margin-bottom: 20px;
    border-radius: 0px;
    color: #6CA2E3;
    border: 2px solid #6CA2E3;
    background-color: #fbfbfb;
    position: relative;
}

button:hover {
    color: #fbfbfb;
    background-color: #6CA2E3;
}

p {
    font-weight: light;
}

#id-image {
    display: none;
}

#POR {
    display: none;
}

#signature {
    display: none;
}

.custom-id-image {
    display: inline-block;
    padding: 16px 12px;
    background-color: #fbfbfb;
    color: #822e27;
    border: 1px solid #822e27;
    cursor: pointer;
    width: 100%;
}

.upload-symbol {
    font-size: 32px;
    margin-left: 50%;
}

.upload-text {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #822e27;
  text-align: center;
  font-weight: 500;
}

#security-question option {
    color: #822e27;
}

#terms-conditions {
    margin-left: 8px;
}


.accept-terms input{
    display: none;
}

.accept-terms .check-mark {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #822e27;
    margin-top: 24px;
}

.accept-terms input:checked +.check-mark {
    background-color: #822e27;
}

.accept-terms .terms-text {
    font-size: 16px;
    color: #822e27;
    float: right;
    margin-left: 36px;
    margin-top: -32px;
    margin-bottom: 32px;
}

.terms-text b{
    color: #6CA2E3;
}
